
<ul>

<li>@Html.ActionLink("L-system processor", "Index", "ProcessLsystem")</li>
<li>@Html.ActionLink("Examples", "Index", "Examples")</li>
<li>@Html.ActionLink("Help", "Index", "Help")</li>

@if (Request.IsAuthenticated) {

	if (User.IsInRole("admins")) {
		<li>@Html.ActionLink("A", "Index", "Administration")</li>
	}
}

</ul>