@{
	ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<ul>
	<li>@Html.ActionLink("Users", MVC.Administration.Users.Index())</li>
	<li>@Html.ActionLink("Roles", MVC.Administration.Roles.Index())</li>
</ul>

