@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@{
	ViewBag.Title = "About";
}

<h2>About</h2>

<p>
	Malsys is made as bachelors work by Marek Fišer under the leadership of @Html.ActionLink("Josef Pelikán", "http://cgg.mff.cuni.cz/~pepca/")
		on @Html.Link("Faculty of Mathematics and Physics", "http://www.mff.cuni.cz/") of @Html.Link("Charles University in Prague", "http://www.cuni.cz/").
</p>
