@{
	ViewBag.Title = "Malsys";
}

<h3>What is Malsys?</h3>
<p>
	Malsys is online L-system processor (interpreter).
</p>


<h3>What is L-system?</h3>
<p>
	An L-system or Lindenmayer system is a parallel rewriting system, namely a variant of a formal grammar,
		most famously used to model the growth processes of plant development, but also able to model the morphology of a variety of organisms.
	More about L-system theory on @Html.Link("Wikipedia", "http://en.wikipedia.org/wiki/L-system").
</p>


<h3>How can i use it?</h3>
<p>
	Look at @Html.ActionLink("help page", MVC.Help.Home.Index()) to learn syntax of Malsys input.
	You can also look at some @Html.ActionLink("examples", MVC.Examples.Index()).
</p>

