@{
	ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<ul>
	<li>@Html.ActionLink("Input statistics", MVC.Administration.Stats.Input())</li>
	<li>@Html.ActionLink("Saved inputs", MVC.Administration.Stats.SavedInputs())</li>
</ul>