@model IPagination<InputProcessesHistoryItem>
@using Malsys

@{
	ViewBag.Title = "Input processes history";
}


<div class="clearfix">
@Html.Pager(Model)
</div>

@Html.Grid(Model).Columns(col => {
		col.For(m => m.ProcessId)
			.HeaderAttributes(style => "width: 40px;")
			.Attributes(@class => "center");
		col.For(m => m.User)
			.HeaderAttributes(style => "width: 100px;");
		col.For(m => m.ParentProcessId)
			.HeaderAttributes(style => "width: 40px;")
			.Attributes(@class => "center");
		col.For(m => "<abbr title=\"" + m.Date + "\">" + m.Date.ToTimeSpanStringFromNow() + "</abbr>")
			.Named("Age")
			.HeaderAttributes(style => "width: 100px;")
			.Attributes(@class => "center")
			.Encode(false);
		col.For(m => TimeSpan.FromTicks(m.Duration).ToAutoscaledString())
			.Named("Process duration")
			.HeaderAttributes(style => "width: 60px;")
			.Attributes(@class => "center");
		col.For(m => m.SourceId)
			.HeaderAttributes(style => "width: 40px;")
			.Attributes(@class => "center");
		col.For(m => "<pre class=\"malsys collapsable noMargin\">" + m.Source + "</pre>")
			.Named("Source")
			.Encode(false);
	}).Attributes(@class => "w100")

