@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model IPagination<SavedInputModel>
@using Malsys

@{
	ViewBag.Title = "Saved inputs";
}


<div class="clearfix">
@Html.Pager(Model)
</div>

@Html.Grid(Model).Columns(col => {
		col.For(m => m.SavedInputId)
			.HeaderAttributes(style => "width: 40px;")
			.Attributes(@class => "center");
		col.For(m => m.UrlId)
			.HeaderAttributes(style => "width: 40px;")
			.Attributes(@class => "center");
		col.For(m => m.User)
			.HeaderAttributes(style => "width: 100px;");
		col.For(m => "<abbr title=\"" + m.EditDate + "\">" + m.EditDate.ToTimeSpanStringFromNow() + "</abbr>")
			.Named("Age")
			.HeaderAttributes(style => "width: 100px;")
			.Attributes(@class => "center")
			.Encode(false);
		col.For(m => TimeSpan.FromTicks(m.Duration).ToAutoscaledString())
			.Named("Process duration")
			.HeaderAttributes(style => "width: 60px;")
			.Attributes(@class => "center");
		col.For(m => "<pre class=\"malsys collapsable noMargin\">" + m.SourceCode + "</pre>")
			.Named("Source")
			.Encode(false);
	}).Attributes(@class => "w100")

