@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model Malsys.Web.Models.Lsystem.SimpleLsystemProcessor

@{
	ViewBag.Title = "Process configurations";
	var exampleModel = new LsystemExampleViewModel() {
		LsystemProcessor = Model,
		SourceCodeTemplate = StringHelper.JoinLines(
			"// process confiuration example {0:00}",
			"{1}"),
		UnimportantLines = new int[] { 1 }

	};
	int exampleId = 1;
}

<h2>Process configurations</h2>

<p>
	Malsys input is processed by system of connected components.
	Components and connections are defined by process configuration.
	There are few predefined process configuration to for easy work and also for demonstration.
	This page will familiarize user with usage of predefined process configuration.
</p>


@* ================================================================================================================== *@
<h2>Predefined process configurations</h2>

<p>
	In Malsys there are few predefined process configuration which can be used right away.
	L-system is processed by some configuration with process statement with syntax <code class="malsys">process LsystemName with ProcessConfigName</code>
		where LsystemName is name of processed L-system and ProcessConfigName is name of used process configuration.
</p>


<h3>Symbol printer</h3>

<p>
	Basic process configuration is <code>SymbolPrinter</code>.
	This configuration will just print resulting symbols.
</p>

@Html.Partial(MVC.Documentation.Shared.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, StringHelper.JoinLines(
		"lsystem Lsystem {",
		"set symbols axiom = A B C;",
		"}",
		"process Lsystem with SymbolPrinter;")))

<p>
	To process all defined L-systems of just to ease processing it can be specified keyword <code class="malsys">all</code> instead of name of processed L-system.
</p>

@Html.Partial(MVC.Documentation.Shared.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, StringHelper.JoinLines(
		"lsystem LsystemA {",
		"set symbols axiom = A A A;",
		"}",
		"lsystem LsystemB {",
		"set symbols axiom = B B B;",
		"}",
		"process all with SymbolPrinter;")))


<h3>Other process configurations</h3>

<p>
	All configurations can be found at @Html.ActionLink("predefined process configurations page", MVC.Documentation.Predefined.Configurations()).
	You can explore @Html.ActionLink("gallery of L-systems", MVC.Gallery.Index()) to learn more.
</p>