
**/[Bb]ackup/*

# Visual Studio
*.suo
*.vsmdi

bin/
obj/

/Publish

/src/TestResults
/src/Malsys.Web/App_Data/*.zip
/src/Malsys.Web/App_Data/*.mdf
/src/Malsys.Web/App_Data/*.ldf
/src/Malsys.Web/App_Data/*.7z
/src/Malsys.Web/WorkDir
/src/Malsys.Web/GalleryWorkDir
/src/Malsys.Web/ErrorLogs
/src/Malsys.Web/Malsys.Web.Publish.xml
/src/Documentation/Help/Working

*.min.js

# documentation
/doc/RelatedApps
/doc/SandCastle
/doc/BachelorThesis/References

# LaTeX rubbish
*.aux
*.log
*.toc
*.out
*.synctex
*.bbl
*.bcf
*.blg
*.synctex.gz
*.run.xml
*.ilg
*.lof
*.lot
*.lol
*.nlo
*.nls

# Windows rubbish 
Thumbs.db
ehthumbs.db
