@model IPagination<InputProcessesHistoryItem>

@{
	ViewBag.Title = "Input processes history";
}


<div class="clearfix">
@Html.Pager(Model)
</div>

@Html.Grid(Model).Columns(col => {
		col.For(m => m.User);
		col.For(m => m.Date);
		col.For(m => "<pre class='malsys'>" + m.Source + "</pre>").Named("Source").Encode(false);
	}).Attributes(@class => "w100")

