@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@{
	ViewBag.Title = "Thanks";
}

<h1>Thanks for your feedback</h1>

<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-50 mobile-grid-100 ">
		<p>
			Your feedback was successfully submitted.
		</p>
	</div>
</div>
