<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- =========================================================================================================== -->
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
		<!-- =============================================================== -->
		<caching>
			<outputCache xdt:Transform="SetAttributes" enableOutputCache="true" />
		</caching>
	</system.web>
	<!-- =========================================================================================================== -->
	<appSettings>
		<add key="Process_AutoPackTreshold" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="WorkDir_MaxFilesCount" value="4096" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="WorkDir_CleanAmount" value="64" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<!-- =========================================================================================================== -->
	<dotless xdt:Transform="SetAttributes" minifyCss="true" />
	<!-- =========================================================================================================== -->
	<system.webServer>
		<rewrite>
			<!-- Using a non-www version of a webpage will set cookies for the whole domain making cookieless domains
					(eg. fast cdn-like access of static resources like css, js and images) impossible. -->
			<!-- Canonized URL and adds www -->
			<rule xdt:Transform="Insert" name="Canonical Host Name" stopProcessing="true">
				<match url="^(.*)$" />
				<conditions>
					<add input="{HTTP_HOST}" negate="true" pattern="^(www\.malsys\.cz)|(localhost)$" />
				</conditions>
				<action type="Redirect" url="http://www.malsys.cz{PATH_INFO}" redirectType="Permanent" />
			</rule>
		</rewrite>
	</system.webServer>
	<!-- =========================================================================================================== -->
</configuration>