<?xml version="1.0" encoding="utf-8"?>
<!-- In this file are crazy delimiters instead of blank lines because file is regenerated (and all blanks deleted) every time DB schema is updated. -->
<!-- Based on http://html5boilerplate.com/docs/web.config/ -->
<configuration>
	<!-- =========================================================================================================== -->
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<!-- =========================================================================================================== -->
	<connectionStrings>
		<!-- `metadata=res://*/` must be in connection string (generating of strongly typed views do not work without it) -->
		<add name="MalsysDb" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\MalsysDb.mdf;integrated security=sspi;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<!-- =========================================================================================================== -->
	<appSettings>
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- =============================================================== -->
		<!-- Time values are in seconds. -->
		<add key="ProcessTime_Unregistered" value="2" />
		<add key="ProcessTime_Registered" value="5" />
		<add key="ProcessTime_Trusted" value="10" />
		<add key="ProcessTime_Gallery" value="8" />
		<!-- =============================================================== -->
		<add key="WorkDir" value="~/WorkDir" />
		<add key="GalleryWorkDir" value="~/GalleryWorkDir" />
		<!-- Following three values are for debugging. See release transform file for release values. -->
		<!-- Maximum number of process outputs before outputs are packed (zipped) into one file. This number is regulating maximum number of outputs pre request. -->
		<add key="Process_AutoPackTreshold" value="16" />
		<!-- Maximum number of files stored in work directory. -->
		<add key="WorkDir_MaxFilesCount" value="256" />
		<!-- How many files are cleaned up when maximum number of files is reached. Should be higher than maximum number of files generated in one request. -->
		<add key="WorkDir_CleanAmount" value="32" />
		<!-- =============================================================== -->
		<!-- ReCaptcha registered to NightElfik@marekfiser.cz for any domain (global key) -->
		<add key="ReCaptcha_PublicKey" value="6Le7nM8SAAAAAJbcbywnp4pLSn5up_w1ZGorXaxS" />
		<add key="ReCaptcha_PrivateKey" value="6Le7nM8SAAAAANUJCLJ-YD-uphaAp716WJuMqW5H" />
	</appSettings>
	<!-- =========================================================================================================== -->
	<system.web>
		<globalization culture="en-US" uiCulture="en" />
		<!-- To avoid any problems with reflection or unsafe code. -->
		<trust level="Full" />
		<!-- =============================================================== -->
		<customErrors mode="RemoteOnly" defaultRedirect="Error.html">
			<error statusCode="404" redirect="404.html" />
		</customErrors>
		<!-- =============================================================== -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="FSharp.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<!-- =============================================================== -->
		<authentication mode="Forms">
			<forms loginUrl="~/Authentication/LogOn" timeout="3600" />
		</authentication>
		<!-- =============================================================== -->
		<membership defaultProvider="MyMembershipProvider">
			<providers>
				<clear />
				<add name="MyMembershipProvider" type="Malsys.Web.Security.LightweightMembershipProvider, Malsys.Web" connectionString="MalsysDb" />
			</providers>
		</membership>
		<!-- =============================================================== -->
		<roleManager enabled="true" defaultProvider="MyRoleProvider">
			<providers>
				<clear />
				<add name="MyRoleProvider" type="Malsys.Web.Security.LightweightRoleProvider, Malsys.Web" connectionString="MalsysDb" />
			</providers>
		</roleManager>
		<!-- =============================================================== -->
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<!-- =============================================================== -->
		<machineKey validation="SHA1" decryption="AES" validationKey="CDDA71A573C4BA864A3A32E6823349BC22F0B762583081985CDE83DD7AC8BCE474A9E934C1A9B63DB1D3D0B7EC5704C4D247D6988CFD7F0EF5CD3CE4AFC12449" decryptionKey="91B03E18D49B29DD483FB55405ED8A0B1FB525FB47A6A089875A45AE267207A8" />
		<!-- =============================================================== -->
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
		</httpHandlers>
		<!-- =============================================================== -->
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>
	<!-- =========================================================================================================== -->
	<system.webServer>
		<!-- GZip static file content. Overrides the server default which only compresses static files over 2700 bytes. -->
		<httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
		<!-- =============================================================== -->
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
		</modules>
		<handlers>
			<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
		</handlers>
		<!-- =============================================================== -->
		<rewrite>
			<outboundRules>
				<!-- Remove ETag from response, cache and query-string variables are doing the job. -->
				<!-- http://stackoverflow.com/questions/7947420/iis-7-5-remove-etag-headers-from-response -->
				<rule name="Remove ETag">
					<match serverVariable="RESPONSE_ETag" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
				<!-- Add gzip Content-Encoding header to svgz files. -->
				<!-- http://forums.iis.net/p/1175276/1970786.aspx -->
				<!--<rule name="Rewrite SVGZ header" preCondition="IsSvgz" stopProcessing="true">
					<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
					<action type="Rewrite" value="gzip" />
				</rule>
				<preConditions>
					<preCondition name="IsSvgz">
						<add input="{PATH_INFO}" pattern="\.svgz$" />
					</preCondition>
				</preConditions>-->
			</outboundRules>
		</rewrite>
		<!-- =============================================================== -->
		<urlCompression doStaticCompression="true" />
		<staticContent>
			<!-- Set expire headers to 7 days for static content (if something went wrong we have to wait 'only' 7 days). -->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			<!-- Use utf-8 encoding for anything served text/plain or text/html. -->
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
			<remove fileExtension=".rss" />
			<mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
			<remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
			<!-- Proper svg serving. Required for svg webfonts on iPad. -->
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
		</staticContent>
		<!-- =============================================================== -->
		<httpProtocol>
			<customHeaders>
				<!-- Force the latest IE version, in various cases when it may fall back to IE7 mode.
						github.com/rails/rails/commit/123eb25#commitcomment-118920
					Use ChromeFrame if it's installed for a better experience for the poor IE folk. -->
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<!-- =========================================================================================================== -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<legacyHMACWarning enabled="0" />
	</runtime>
	<!-- =========================================================================================================== -->
	<system.net>
		<defaultProxy enabled="true" />
		<mailSettings>
			<smtp deliveryMethod="Network" from="no-reply@malsys.cz">
				<network host="smtp.ksi.ms.mff.cuni.cz" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	<!-- =========================================================================================================== -->
	<elmah>
		<security allowRemoteAccess="1" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ErrorLogs" />
		<errorFilter>
			<test>
				<equal binding="HttpStatusCode" value="404" type="Int32" />
			</test>
		</errorFilter>
	</elmah>
	<!-- =========================================================================================================== -->
	<!-- The following entry denies unauthenticated users access to the path from where ELMAH's handlers are accessible. -->
	<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="administrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!-- =========================================================================================================== -->
</configuration>