<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="Process_AutoPackTreshold" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="WorkDir_MaxFilesCount" value="4096" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="WorkDir_CleanAmount" value="64" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.webServer>
		<rewrite>
			<rules xdt:Transform="Insert">
				<rule name="Canonical Host Name" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{HTTP_HOST}" negate="true" pattern="^malsys\.cz$" />
					</conditions>
					<action type="Redirect" url="http://malsys.cz/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

	<caching>
		<outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
	</caching>

	<dotless minifyCss="true" xdt:Transform="SetAttributes" />

</configuration>