<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="elmah">
			<section name="security" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorFilter" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
		</sectionGroup>
	</configSections>


	<connectionStrings>
		<!--
		<add name="MalsysDb" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|MalsysDb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		-->
		<!-- metadata=res://*/; -->
		<add name="MalsysDb" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\MalsysDb.mdf;integrated security=sspi;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="WorkDir" value="~/WorkDir" />
		<add key="WorkDir_MaxFilesCount" value="16" />
	</appSettings>

	<system.web>
		<trust level="Full" />
		<customErrors mode="RemoteOnly" defaultRedirect="Error.html">
			<error statusCode="404" redirect="404.html" />
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="3600" />
		</authentication>
		<membership defaultProvider="MyMembershipProvider">
			<providers>
				<clear />
				<add name="MyMembershipProvider" type="Malsys.Web.Security.LightweightMembershipProvider, Malsys.Web" connectionString="MalsysDb" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="MyRoleProvider">
			<providers>
				<clear />
				<add name="MyRoleProvider" type="Malsys.Web.Security.LightweightRoleProvider, Malsys.Web" connectionString="MalsysDb" />
			</providers>
		</roleManager>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<machineKey validation="SHA1" decryption="AES" validationKey="CDDA71A573C4BA864A3A32E6823349BC22F0B762583081985CDE83DD7AC8BCE474A9E934C1A9B63DB1D3D0B7EC5704C4D247D6988CFD7F0EF5CD3CE4AFC12449" decryptionKey="91B03E18D49B29DD483FB55405ED8A0B1FB525FB47A6A089875A45AE267207A8" />
	</system.web>

	<system.webServer>
		<!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes-->
		<httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<handlers>
			<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
		</handlers>
		<urlCompression doStaticCompression="true" />
		<staticContent>
			<!-- Set expire headers to 7 days for static content-->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
			<!-- use utf-8 encoding for anything served text/plain or text/html -->
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
			<remove fileExtension=".rss" />
			<mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
			<remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
			<!-- Proper svg serving. Required for svg webfonts on iPad -->
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<!-- Force the latest IE version, in various cases when it may fall back to IE7 mode
						github.com/rails/rails/commit/123eb25#commitcomment-118920
					Use ChromeFrame if it's installed for a better experience for the poor IE folk -->
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<legacyHMACWarning enabled="0" />
	</runtime>

	<system.net>
		<defaultProxy enabled="true" />
	</system.net>

	<elmah>
		<security allowRemoteAccess="0" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ErrorLogs" />
		<errorFilter>
			<test>
				<equal binding="HttpStatusCode" value="404" type="Int32" />
			</test>
		</errorFilter>
	</elmah>

	<!-- The following entry denies unauthenticated users access to the path from where ELMAH's handlers are accessible. -->
	<location path="elmah.axd">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

</configuration>