<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="Process_AutoPackTreshold" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="WorkDir_MaxFilesCount" value="4096" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="WorkDir_CleanAmount" value="32" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<caching>
		<outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
	</caching>

	<dotless minifyCss="true" xdt:Transform="SetAttributes" />

</configuration>