@{
	ViewBag.Title = "Arithmetic expressions";
}

<h1>Arithmetic expressions</h1>

<div class="grid-100 mobile-grid-100 grid-parent">
	<div class="grid-50 mobile-grid-100">
<p>
	<i>TODO</i>
</p>
	</div>
</div>

@* ================================================================================================================== *@
<h2>Formal grammar</h2>

<div class="grid-100 mobile-grid-100 grid-parent">
	<div class="grid-50 mobile-grid-100">
<p>
	Expression grammar is not "strict", correctness of expression will ensure compiler or interpreter.
</p>
	</div>
</div>

@(new CodeListingsManager().CodeNoFigure(ProgLang.Grammar, @"
expression = expr_member+

expr_member =
	| NUMBER
	| ID
	| OPERATOR
	| expr_indexer
	| expr_array
	| expr_function
	| '(' expression ')'

expr_indexer = '[' expression ']'

expr_array = '{' (expression (',' expression)*)? '}'

expr_function = ID '(' params_expr_list? ')'

params_expr_list = expression (',' params_expr_list)?
", shadow: true))

