
.lsrc {
	font: normal normal 1em/1.2em monospace;
	font-family: Consolas, monospace;
	color: #000000;

	display: block;
	list-style-position: outside;
	list-style-type: decimal;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 60px;
}

.lsrc .ln {
	background:none;
	margin: 2px 0 2px 0;
	padding: 0;
	vertical-align: top;
}

.lsrc .Keyword { color: #7F0055; font-weight: bold; }

.lsrc .SingleLineComment,
	.lsrc .MultiLineComment { color: #3F7F5F; }

.lsrc .DocComment { color: #3F5FBF; }

.lsrc .LsystemName,
	.lsrc .VariableName,
	.lsrc .FunctionName { font-weight: bold; }

.lsrc .Parameter { color: #7F7F7F; }
.lsrc .ParameterName { color: #000000; }
.lsrc .Parameter .ExprFunName { color: #7F7FFF; }

.lsrc .FunctionBody { font-weight: bold; }

.lsrc .FunctionBody .VariableDefinition,
	.lsrc .FunctionBody .Expression { font-weight: normal; }

.lsrc .RewriteRule,
	.lsrc .RewriteRule .RrPattern .SymbolPattern .Symbol { font-weight: bold; }

.lsrc .RewriteRule .RrPattern,
	.lsrc .RewriteRule .SymbolPattern,
	.lsrc .RewriteRule .SymbolExpr,
	.lsrc .RewriteRule .VariableDefinition,
	.lsrc .RewriteRule .Expression { font-weight: normal; }

.lsrc .RrPattern,
	.lsrc .RrLeftCtxt,
	.lsrc .RrRightCtxt,
	.lsrc .RrCondition,
	.lsrc .RrProbability { border-bottom: 1px solid transparent; }

.lsrc .RrPattern:hover,
	.lsrc .RrLeftCtxt:hover,
	.lsrc .RrRightCtxt:hover,
	.lsrc .RrCondition:hover,
	.lsrc .RrProbability:hover { border-bottom: 1px solid #BFBFBF; }

.lsrc .ExprFunName { color: #0000FF; }

.lsrc .MsgError {
	border-bottom: 1px dashed #FF0000;
	background-color: #FFDFDF;
}

.lsrc .MsgWarning {
	border-bottom: 1px dashed #FFA500;
	background-color: #FFE5B4;
}

.lsrc .MsgNotice {
	border-bottom: 1px dashed #3F5FBF;
	background-color: #CFDFFF;
}

















