@model DevDiaryViewModel

@{
	ViewBag.Title = "Index";
}

<h1>Development diary</h1>

<ul>
@foreach (var entry in Model.AllEntries) {
	<li>@Html.ActionLink(entry.Name, MVC.DevDiary.Entry(entry.Url))</li>
}
</ul>
