@{
	ViewBag.Title = "Dev diary";
}

<h2>Dev diary</h2>

<p>
	27 May 2013 - @Html.ActionLink("SVG markup optimizations", MVC.DevDiary.SvgOptimizations())
</p>

@* @Html.ActionLink("Creating of PNG animation renderer", MVC.DevDiary.PngAnimationRenderer()) *@
