@model KeyValuePair<string, string>

@{
	ViewBag.Title = "Delete input";
}

<h2>Do you really want to delete following input?</h2>

<pre class="malsys box">
@Model.Value
</pre>

@using (Html.BeginForm(MVC.User.DeleteInput(Model.Key, true))) {
	@Html.SubmitButton("submit", "Yes, delete it forever");
}

@using (Html.BeginForm(MVC.User.DeleteInput("", true))) {
	@Html.SubmitButton("submit", "Cancel deletion");
}
