@model IPagination<SavedInput>
@using Malsys

@{
	ViewBag.Title = "Saved inputs";
}

<h2>Saved inputs</h2>

<div class="clearfix">
@Html.Pager(Model)
</div>

@Html.Grid(Model).Columns(col => {
	col.For(m => Html.Link(m.RandomId, Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host +
				(Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port) + Url.Action(MVC.Process.Load(m.RandomId))))
			.Named("ID")
			.HeaderAttributes(style => "width: 80px;")
			.Encode(false);
		col.For(m => "<abbr title=\"" + m.Date + "\">" + m.Date.ToTimeSpanStringFromNow() + "</abbr>")
			.Named("Age")
			.HeaderAttributes(style => "width: 100px;")
			.Attributes(@class => "center")
			.Encode(false);
		col.For(m => m.Views)
			.HeaderAttributes(style => "width: 40px;")
			.Attributes(@class => "center");
		col.For(m => "<pre class='malsys collapsable noMargin'>" + m.Source + "</pre>")
			.Named("Source")
			.Encode(false);
	}).Attributes(@class => "w100")


