@model Malsys.Web.Models.ChangePasswordModel

@{
	ViewBag.Title = "Change Password";
	StaticHtml.RequireScript(Links.Js.jquery_validate_js);
	StaticHtml.RequireScript(Links.Js.jquery_validate_unobtrusive_js);
}

<h2>Change Password</h2>
<p>
	Use the form below to change your password.
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
	<div>
		<fieldset>
			<legend>Account Information</legend>

			@Html.EditorForModel()

			<p>
				@Html.SubmitButton("Change Password")
			</p>
		</fieldset>
	</div>
}
