@{
	ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<ul>
	<li>
		<ul>
			<li>@Html.ActionLink("Users", "Index", "Users")</li>
			<li>@Html.ActionLink("Roles", "Index", "Roles")</li>
		</ul>
	</li>
	<li>
		<ul>
			<li>@Html.ActionLink("Input stats", "Index", "InputStats")</li>
		</ul>
	</li>
</ul>
