@model Malsys.Processing.OutputFile


<p><b><abbr title="@Model.Source">@Model.LsystemName</abbr></b></p>

@{
var fi = new FileInfo(Model.FilePath);
	if (!fi.Exists) {
		return;
	}

	bool showDownloadLink = true;

	if (fi.Extension == ".txt") {
		using (var sr = fi.OpenText()) {
			var buff = new char[1001];
			int readed = sr.ReadBlock(buff, 0, buff.Length);
			string strOut = new string(buff, 0, Math.Min(readed, 1000));

			if (readed > 1000) {
				<p class="outputTruncated">(showing first 1000 characters)</p>
			}
			else {
				showDownloadLink = false;
			}

			<p>@strOut</p>
		}
	}
	else if (fi.Extension == ".svg" || fi.Extension == ".svgz") {
		if (fi.Length > 1024 * 512) {
			<p class="outputTruncated">SVG file is not shown directly (it is greater than 0.5 MB)</p>
		}
		else {
			<div class="scroll_box">
				<img src="/ProcessLsystem/DownloadResult?FileName=@fi.Name&download=false" alt="process result" />
			</div>
		}
	}

	if (showDownloadLink) {
		<p>@Html.ActionLink(string.Format("Download {0} [{1:0.0} kB]", fi.Name, fi.Length / 1024f), "DownloadResult", new { FileName = fi.Name })</p>
	}

}