@{
	ViewBag.Title = "Ascii art examples";
	ViewBag.MainClass = "twoColumns";
}

<h2>Ascii art examples</h2>

<div class="floating_container clearfix">


<div class="floating_box">
<pre class="malsys box">
/**
 * Based on HexaGosperCurve from
 * The Algorithmic Beauty of Plants (figure 1.11a)
 */
lsystem AsciiGosperCurve {

	set axiom = L;
	let iterations = 3;
	let scale = 2;

	rewrite L to L + R + + R - L - - L L - R +;
	rewrite R to - L + R R + + R + L - - L - R;

	interpret R L as DrawLine;
	interpret + as TurnLeft;
	interpret - as TurnRight;

	process with HexAsciiRenderer;

}
</pre>
</div>


</div>