@{
	ViewBag.Title = "Examples";
}


<h2>Examples</h2>


<h2>Dragon curve</h2>

<pre class="malsys">
/**
 * http://en.wikipedia.org/wiki/Dragon_curve
 */
lsystem DragonCurve {

	set axiom = L;
	let iterations = 10;
	let margin = 2;

	// normalize line length -- result image will have always same size
	let lineLength = 2 ^ -(iterations / 2) * 200;

	rewrite L to L + R +;
	rewrite R to - L - R;

	interpret R L as DrawLine(lineLength);
	interpret + as TurnLeft(90);
	interpret - as TurnRight(90);

	process this with InterpretConfig
		use SvgRenderer2D as Interpret;  // render as SVG
}
</pre>

<pre class="malsys">
lsystem HexaGosperCurve	 {

	set axiom = L;
	let iterations = 5;
	let margin = 2;
	let continouscoloring = true;

	rewrite L to L + R + + R - L - - L L - R +;
	rewrite R to - L + R R + + R + L - - L - R;

	interpret R L as DrawLine(4);
	interpret + as TurnLeft(60);
	interpret - as TurnRight(60);

	process this with InterpretConfig
		use SvgRenderer2D as Interpret;
}
</pre>

