@model Malsys.Web.Models.Lsystem.SimpleLsystemProcessor

@{
	ViewBag.Title = "Frequently asked questions";
	var exampleModel = new LsystemExampleViewModel() {
		LsystemProcessor = Model,
		SourceCodeTemplate = "{0}"
	};
}

<h2>Frequently asked questions</h2>

<p>
	If you are interested in Malsys and you have questions which are not answered here or in @Html.ActionLink("help", MVC.Help.Home.Index())
		feel free to @Html.ActionLink("contact me", MVC.Feedback.EmailToAuthor()) :)
</p>

<div id="toc"></div>


<h3>Symbol rewriting is not working properly!</h3>

<p>
	<span class="huge">Q:</span>
	In following L-system rewriting do not work, nothing is rendered:
</p>

<pre class="malsys box">
lsystem RewritingProblem {
	set symbols axiom = F;
	set iterations = 2;

	interpret F as DrawForward(10);

	rewrite F to FFF;
}
process all with SvgRenderer;
</pre>

<p>
	<span class="huge">A:</span>
	Problem is in symbols, <code>FFF</code> is one symbol for Malsys, you need to separate individual symbols with space.
	This problem can be easily debugged setting <code>debugInterpretation</code> property to true.
	If you do so you will see <code>FFF =></code> which means that symbol <code>FFF</code> was interpreted as nothing which is correct to L-system definition.
</p>

<pre class="malsys box">
lsystem RewritingProblem {
	set symbols axiom = F;
	set iterations = 2;
	set debugInterpretation = true;

	interpret F as DrawForward(10);

	rewrite F to FFF;
}
process all with SvgRenderer;
</pre>

