@model Malsys.Web.Models.NewRoleModel

@{
	ViewBag.Title = "Create role";
	StaticHtml.RequireScript(Links.Js.jquery_validate_js);
	StaticHtml.RequireScript(Links.Js.jquery_validate_unobtrusive_js);
}

<h2>Create role</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	@Html.EditorForModel()

	<p>@Html.SubmitButton("Create")</p>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
