@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model IPagination<Role>

@{
	ViewBag.Title = "User roles";
}

<h2>User roles</h2>
<p>
	@Html.ActionLink("Create new role", "Create")
</p>

<div class="clearfix">
@Html.Pager(Model)
</div>

@Html.Grid(Model).Columns(col => {
		col.For(x => x.RoleId)
			.Named("Id")
			.HeaderAttributes(style => "width: 40px;")
			.Attributes(@class => "center");
		col.For(x => x.Name);
		col.For(x => Html.ActionLink("Edit", MVC.Administration.Roles.Edit(x.RoleId)))
			.Attributes(@class => "center")
			.HeaderAttributes(style => "width: 50px;")
			.Encode(false);
	}).Attributes(@class => "w100")
