/**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 */

 /* ==========================================================================
  * Styles for Malsys
  * Using LESS CSS -- The dynamic stylesheet language http://lesscss.org/
  * Derived from HTML5 ✰ Boilerplate http://html5boilerplate.com/docs/css/
  * ========================================================================= */

/* Global settings ========================================================== */

@themeColor: #0F4D92;  /* Yale Blue http://en.wikipedia.org/wiki/Yale_Blue_(color) */
@themeColorLighter: lighten(@themeColor, 10%);
@themeColorDarker: darken(@themeColor, 10%);
@themeColorDarkerDarker: darken(@themeColor, 20%);

@textColor: #111;
@textNoteColor: #555;

@bodyBgColor: #FFF;
@bgColor: lighten(@themeColor, 5%);
@bgColorLight: lighten(@themeColor, 50%);

@linkColor: @themeColor;
@linkHoverColor: darken(@linkColor, 10%);
@linkVisitedColor: spin(@linkColor, 30);

@baseWidth: 960px;

@monospaceFonts: Consolas, "Courier New", monospace;


/* Mixins =================================================================== */

.box-shadow (@x: 0, @y: 0, @blur: 1px, @spread: 0, @color: #000) {
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}

.box-shadow-inset (@x: 0, @y: 0, @blur: 1px, @spread: 0, @color: #000) {
	box-shadow: @arguments inset;
	-moz-box-shadow: @arguments inset;
	-webkit-box-shadow: @arguments inset;
}

.border-radius-malsys (@radius: 8px) {
	border-radius: @radius 0 @radius 0;
	-webkit-border-radius: @radius 0 @radius 0;
	-moz-border-radius: @radius 0 @radius 0;
}

.malsysBox () {
	border: 1px solid #AAA;
	padding: 0.3em;
	margin: 0;
	background: #DDD;
	.border-radius-malsys;
	.box-shadow(2px, 2px, 5px, 0, #AAA);
}


/* HTML5 display definitions ================================================ */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* Base ===================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body, button, input, select, textarea { font-family: sans-serif; color: @textColor; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 */
::-moz-selection { background: #fe57a1; color: #FFF; text-shadow: none; }
::selection { background: #fe57a1; color: #FFF; text-shadow: none; }


/* Links ==================================================================== */

a {
	color: @linkColor; text-decoration: none;
	&:hover { color: @linkHoverColor; text-decoration: underline; }
	&:visited { color: @linkVisitedColor; }
	&:focus { outline: thin dotted; }
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* Typography =============================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #999; margin: 1em 0; padding: 0; }

ins { background: #FF9; color: #000; text-decoration: none; }

mark { background: #FF0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: @monospaceFonts; _font-family: @monospaceFonts; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* Lists ==================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
ul, ol { ul, ol { margin: 0; } }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
ul.clean { list-style: none; list-style-image: none; }


/* Embedded content ========================================================= */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) { overflow: hidden; }


/* Figures ================================================================== */

figure { margin: 0; }


/* Forms ==================================================================== */

form { margin: 0; }
fieldset { border: 1px solid #AAA; margin: 0; padding: 0.5em 1em; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer; -webkit-appearance: button; *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #F0DDDD; }


/* Tables =================================================================== */

table { border-collapse: collapse; border-spacing: 0; border: solid 1px #DDD; }

table td { padding: 5px; border: solid 1px #AAA; }

table th {
	padding: 0.1em 0.2em;
	text-align: left;
	background-color: #DDD;
	border: solid 1px #AAA;
	text-align: center;
}

/* Chrome Frame Prompt ====================================================== */

.chromeframe { margin: 0.2em 0; background: #CCC; color: black; padding: 0.2em 1em; }


/* Primary styles =============================================================
 ============================================================================ */

body {
	font-size: 120%;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	background: @bodyBgColor;
	min-width: @baseWidth;
	word-wrap: break-word;
}

/* Layout =================================================================== */

.wrapper { margin: 0 auto; padding: 0; width: @baseWidth; }

#mainContainer.fullWidth {
	.wrapper { width: 100%; }
}


/* Header =================================================================== */

html, #headerContainer, #footerContainer {
	background:	@bgColor;
}

#headerContainer {
	height: 128px;
	.box-shadow(0, 40px, 40px, -40px, #777);
}

#title {
	font-size: 3.1em;
	color: #FFF;
	text-shadow: 0px 0px 8px #000;
	letter-spacing: 0.1em;
	display: inline;
	line-height: 1;
	&:hover { text-shadow: 0px 0px 8px #FFF; }
	.cz { font-size: 20%; }
}

#subtitle { color: @themeColorDarkerDarker; font-size: 0.6em; line-height: 1; letter-spacing: 0.65em; }

#header {
	margin: 0 10px;

	.titleContainer {
		float: left;
		margin-top: 20px;
		a:hover { text-decoration: none; }
	}

	.logonBox {
		float: right;
		margin-top: 8px;
		width: 650px;
		color: #FFF;
		font-size: 0.8em;
		text-align: right;
		a {
			color: #FFF;
			&:hover { text-shadow: 0px 0px 3px #FFF; }
			&:link { color: #FFF; }
			&:visited { color: #FFF; }
		}
	}

	.navigation {
		float: right;
		margin: 20px 0 0 0;
		padding: 0;
		width: 650px;

		ul { float: right; }
		li { display: inline; font-weight: bolder; }
		a {
			font-size: 1.25em;
			padding: 0.3em;
			margin: 0.1em;
			text-decoration: none;
			background-color: @themeColor;
			color: #FFF;

			text-shadow: 2px 2px 2px @themeColorDarkerDarker;

			border: 1px solid @themeColorDarkerDarker;
			.border-radius-malsys;

			&:hover { text-decoration: none; border-color: #FFF;
				text-shadow: 0px 0px 3px #FFF; .box-shadow-inset(0, 0, 8px, 0, #FFF); }
			&:link { color: #FFF; }
			&:visited { color: #FFF; }
		}

		.subnav {
			margin: 8px 0 0 0;
			padding: 0;
			a {
				font-size: 0.8em;
				padding: 0 0.5em 0.2em 0.4em;
			}
		}
	}
}

#skipNavigation { position: absolute; top: 0; left: 0; }

/* Main ===================================================================== */

#main { margin: 40px 20px; }

input[type="submit"] { padding: 0.5em 1em; }

h2, h3 {
	border-bottom: 1px solid #BBB;
	.box-shadow(0, 6px, 6px, -6px, #BBB);
}


/* Footer =================================================================== */

#footerContainer {
	.box-shadow(0, -40px, 40px, -40px, #777);
}

#footer {
	margin: 0 20px;
	padding: 10px 0 40px 0;
	p { font-size: 0.8em; }
	a {
		color: #000;
		&:hover { text-shadow: 0px 0px 3px #FFF; }
		&:link { color: #000; }
		&:visited { color: #000; }
	}
	.note {
		font-size: 0.7em;
		color: @themeColorDarker;
		a {
			color: @themeColorDarker;
			&:hover { color: @themeColorDarkerDarker; }
			&:link { color: @themeColorDarker; }
			&:visited { color: @themeColorDarker; }
		}
	}
}


/* General styles =========================================================== */

.fullScreen { margin: 0; padding: 0; overflow: hidden; }
.center { text-align: center; }
.centerMargin { margin: 0 auto; width: 100px; }
.block { display: block; }
.w100 { width: 100%; }
.w60 { width: 60%; }
.w30 { width: 30%; }
.noMargin { margin: 0; }
.left { float: left; }
.right { float: right; text-align: left; }
.bg { background-color: @bodyBgColor; }
.note { font-size: 80%; color: @textNoteColor; }
.box {
	.malsysBox();
	margin-bottom: 0.5em;
}
a.noUnderline:hover { text-decoration: none; }

.leftHalf {
	float: left;
	display: block;
	width: 49%;
}

.rightHalf {
	float: right;
	display: block;
	width: 49%;
}

p { text-align: justify; }
.indent { margin: 0 0 0 2em; }

.keepNl { white-space: pre-line; }


/* Lists general styles ===================================================== */

ol.uRoman { list-style-type: upper-roman; }
ol.uAlpha { list-style-type: upper-alpha; }
ol.lAlpha { list-style-type: lower-alpha; }


/* Collapsation ============================================================= */

.collapseSwitch {
	cursor: pointer;
	span.c { display: block; }
	span.u { display: none; }
	&.collapsed {
		span.c { display: none; }
		span.u { display: block; }
	}
	&:hover { text-decoration: underline; }  /* simulate link */
}


/* TOC ====================================================================== */

#toc {
	&.collapsed { height: 1.5em; overflow: hidden; }
}

a.tocLink, a.anchorLink {
	float: right; font-size: 0.8em;
	&.autoHide {
		opacity: 0.2;
		&:hover { opacity: 1; }
	}
}

/* Discussion =============================================================== */

.discusThread {
	.msgCount { font-size: 80%; }
	.author { font-size: 80%; }
	.lastMessage { font-size: 80%; margin: 0; padding: 0; }
}

.discusMsg {
	.message { width: 70%; }
	.author {
		display: block;
		padding: 0 0.5em;
		float: right;
		width: 25%;
		border-left: 1px solid #CCC;
		p { text-align: center; }
		.date { font-size: 80%; }
	}
}

/* Figures ================================================================== */

.figure {
	margin: 8px;
	text-align: center;
	p { text-align: center; margin: 0; padding: 4px 0 0 0; }
	.subfigure{
		display: inline-block;
		margin: 8px;
	}
}

/* Processing =============================================================== */

.inlineDoc {
	font-size: 90%;
	p { text-align: left; }
	ul {
		margin: 0; padding: 0;
		li { display: inline; margin: 0; padding: 0; }
	}
	p { margin: 0; padding: 0; }
	.popup {
		margin: 0; padding: 8px;
		background-color: white;
		border: 1px solid #555;
		.box-shadow(0px, 0px, 5px, 0, #000);
		hr { margin: 3px;}
	}
}

/* Source code ============================================================== */

@srcColor: #000;
@srcKeywordColor: #7F0055;
@srcStringColor: #800000;
@srcCommentColor: #007700;
@srcUnimportantColor: #999;

pre {
	margin: 0;
	position: relative; /* for button placement */
	color: @srcColor;
	a:hover { text-decoration: underline; color: @srcColor; }
	.lsysTryMe { right: 8px; border-bottom: none; }
	.collapseSwitch { right: 96px; }
	&.collapsed { height: 1.5em; overflow: hidden;  }
}

code {
	background: #DDD;
	padding: 0 0.2em;
}

pre .unimportant { color: @srcUnimportantColor; }

pre .grTerminal, code .grTerminal { color: @srcStringColor; }

pre .grQuantifier, code .grQuantifier { font-weight: bold; }

pre .keyword, code .keyword { color: @srcKeywordColor; font-weight: bold; }
pre .comment, code .comment { color: @srcCommentColor; }

pre a:link, pre a:visited, pre a:active {
	border-bottom: 1px solid #777;
	text-decoration: none;
	color: #000;
}

code.match {
	border: 1px solid #ccc;
	background: none;
}

pre .lsysTryMe, pre .collapseSwitch {
	display: block;
	position: absolute;
	top: 4px;
	padding: 0.1em 0.3em;

	color: #444;
	text-align: center;
	border: solid 1px #AAA;
	background: #DDD;

	.border-radius-malsys(4px);
	.box-shadow-inset(0, 0, 4px, 0, #BBB);

	&:hover { color: #000; background: #FFF; }
}

.malsysSource textarea { font-family: @monospaceFonts; width: 98%; }

.outputTruncated { font-size: 0.8em; color: #888888; }

pre.asciiArt {
	font-size: 0.5em;
	line-height: 1em;
	word-wrap: normal;
}

.threeJsScene {
	position: relative;
	border: solid 1px #000000;
	width: 800px;
	height: 600px;
	.box-shadow(0px, 0px, 5px, 0, #000);

	.fullscreen { position: absolute; top: 4px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.webgl { position: absolute; top: 4px; left: 100px; margin: 0; font-size: 0.8em; color: #888; }
	.controls { position: absolute; bottom: 4px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.cameraPosition { position: absolute; bottom: 64px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.cameraUp { position: absolute; bottom: 44px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.cameraTarget { position: absolute; bottom: 24px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
}

.fullScreen .threeJsScene {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	.box-shadow(0px, 0px, 0px, 0, #000);
}

/* Gallery ================================================================== */

.gallery {
	text-align: justify;

	.thn { float: left; margin: 2px; }
}

.thn .threeJsScene {
	width: 341px;
	height: 256px;
	border: none;
	.box-shadow(0px, 0px, 0px, 0, #000);
}

a.tag {
	padding: 3px 6px;
	margin: 1px 2px;
	border: solid 1px @linkColor;
	background-color: @bgColorLight;

	&:visited { color: @linkColor; }
	&:hover {
		color: @linkHoverColor; border-color: @linkHoverColor; background-color: darken(@bgColorLight, 10%);
		.box-shadow-inset(0, 0, 8px, 0, #FFF); text-shadow: 0px 0px 8px #FFF;
	}
}

.huge { font-size: 2em; margin: 0; }

.votes .vote { margin: 0.2em; }


/* Components ============================================================== */
.component {
	.type { font-size: 90%; color: @srcKeywordColor; }
	h4 { line-heigth: 1em; margin: 0 0 0 0.2em; font-size: 130%; }
	dl dt { padding-top: 0.5em; }
	ul p { margin: 0; }
	li.spaced { margin-top: 0.5em; }
	.flag { color: @srcStringColor; }
}

/* Editor and display helpers =============================================== */

.display-label, .editor-label { margin: 1em 0 0 0; }
.display-field, .editor-field { margin: 0.5em 0 0 0; }

.text-box { width: 30em; }
.text-box.multi-line { height: 6.5em; }

.tri-state { width: 6em; }



/* Validation helpers ======================================================= */

.field-validation-error { color: #ff0000; display: block; }
.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }

.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid { display: none; }



/* Pagination =============================================================== */

.pagination {
	margin: 0 auto;
	display: block;
	.paginationLeft { float: left; }
	.paginationRight { float: right; }
}

/* Designers ================================================================ */
.curveDesigneContainer {
	position: relative;
	float: left;
	.curveDesigner {
		 position: absolute; top: 0; left: 0;
	}
}

.curveDesigneMirrors {
	float: left;
	a {
		display: block;
		width: 70px;
		text-align: center;
		.border-radius-malsys(4px);
		.box-shadow(0, 0, 4px, 0, #BBB);
		margin: 8px;
		&:hover { color: @linkHoverColor; text-decoration: none; color: #000; background: #EEE; .box-shadow(0, 0, 6px, 0, #777); }
		&.mirror { height: 170px; }
	}
}


/* Uncategorized ============================================================ */


.scrollBox { overflow: auto; margin: 0 auto; }

p.malsysMsg {
	margin: 0;
	padding: 0;
	.quoted { font-family: @monospaceFonts; font-weight: bolder; }
}

.error { background-color: #FFDDDD; }
.errorBlock { background-color: #FFDDDD; padding: 0.5em; border: 1px solid #FF0000; }
.warning { background-color: #FBEC5D; }

.okBlock { background-color: #DDFFDD; padding: 0.5em; border: 1px solid #00FF00; }

.monospace { font-family: @monospaceFonts; }

#ajaxLoader {
	display: none;
	text-align: center;
}

/* Media queries ============================================================ */

@media (min-width: 1880px) {
	#mainContainer.twoColumns {
		.wrapper { width: 1840px; }
		.floating_box { display: inline; float: left; text-align: left; width: 890px; padding-right: 8px; }
		.floating_container { text-align: center; }
	}
}


/* Non-semantic helper classes ============================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screen-readers and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screen readers: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screen readers, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ====== */

@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
