/*
 * Copyright © 2012-2013 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 */

 /* ==========================================================================
  * Styles for Malsys
  * Using LESS CSS -- The dynamic stylesheet language http://lesscss.org/
  * Derived from HTML5 ✰ Boilerplate http://html5boilerplate.com/docs/css/
  * ========================================================================= */

@themeColor: lighten(#0F4D92, 5%);  /* Yale Blue http://en.wikipedia.org/wiki/Yale_Blue_(color) */
@themeColorLighter: lighten(@themeColor, 10%);
@themeColorDarker: darken(@themeColor, 10%);
@themeColorDarkerDarker: darken(@themeColor, 20%);

@textColor: #111;
@textNoteColor: #555;

@bodyBgColor: #FFF;
@bgColor: lighten(@themeColor, 5%);
@bgColorLight: lighten(@themeColor, 50%);

@linkColor: @themeColor;
@linkHoverColor: spin(@linkColor, 60);

@baseFont: "Trebuchet MS", Helvetica, Arial, sans-serif;
@monospaceFont: Consolas, "Courier New", monospace;


/* ==================================================================================================================
 * Mixins
 * ================================================================================================================== */

.border-radius-malsys (@radius: 8px) {
	border-radius: @radius 0 @radius 0;
}

.malsysBox () {
	border: 1px solid #AAA;
	padding: 8px;
	margin: 0;
	background: #EEE;
	.border-radius-malsys;
	box-shadow: 2px 2px 5px 0 #AAA;
}

.transition(@value) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}

.transform(@value) {
	-webkit-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	-ms-transform: @arguments;
	transform: @arguments;
}

.transform-style(@value) {
	-webkit-transform-style: @arguments;
	-moz-transform-style: @arguments;
	-o-transform-style: @arguments;
	-ms-transform-style: @arguments;
	transform-style: @arguments;
}

.backface-visibility(@value) {
	-webkit-backface-visibility: @arguments;
	-moz-backface-visibility: @arguments;
	-o-backface-visibility: @arguments;
	-ms-backface-visibility: @arguments;
	backface-visibility: @arguments;
}

.perspective(@value) {
	-webkit-perspective: @arguments;
	-moz-perspective: @arguments;
	-o-perspective: @arguments;
	-ms-perspective: @arguments;
	perspective: @arguments;
}


/* ==================================================================================================================
 * Layout
 * ================================================================================================================== */

#header {
	padding: 0;
}

#navigation {
	ul {
		float: right;
		list-style: none;
		margin: 0 0 4px 0;
		padding: 0;
	}
	li {
		display: inline;
		float: left;
	}
	a {
		position: relative;
		display: inline-block;
		padding: 10px;
	}
}

#main {
	.grid-container { margin: 0em auto 2em auto; }
}

#footer {
	ul {
		list-style: none;
		margin: 0 0 4px 0;
		padding: 0;
	}
}

/* ==================================================================================================================
 * General styles
 * ================================================================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 */
::-moz-selection { background: @linkColor; color: #FFF; text-shadow: none; }
::selection { background: @linkColor; color: #FFF; text-shadow: none; }


a {
	color: @linkColor;
	text-decoration: none;
	.transition(color 0.5s ease);
	&:link { color: @linkColor; outline: 0; }
	&:visited { color: @linkColor; outline: 0; }
	&:focus { outline: thin dotted; }
	&:hover { color: @linkHoverColor; outline: 0; text-decoration: underline; }
}

.hideLinks a:link, .hideLinks a:visited {
	color: @textColor;
}

.hideLinks:hover a:link, .hideLinks:hover a:visited {
	color: @linkColor;
}

.section a.anchorLink {
	float: right;
	color: #FFF !important;
	text-shadow: none;
}

.section:hover a.anchorLink {
	float: right;
	color: lighten(@linkColor, 30) !important;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: @monospaceFont; font-size: 0.9em; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Chrome Frame Prompt ====================================================== */

.chromeframe { margin: 0.2em 0; background: #CCC; color: black; padding: 0.2em 1em; }


body {
	font-size: 1em;
	line-height: 1.4;
	font-family: @baseFont;
	background: @bodyBgColor;
	color: @textColor;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
}

.externalLink {
	padding-right: 12px;
	background: url('data:image/gif;base64,R0lGODlhCgAOAKIHAHl5ebi4uFBQUFhYWFdXV09PT////////yH5BAEAAAcALAAAAAAKAA4AAAM0eHo09GQBYKoZi9FKRCnCEFiDUIlGQA3FNQYNQLQqXBzA0aaEcSsmi2/hAX1+maRyyWwqEgA7')
		no-repeat center right;
}

.wikilink {
	padding-right: 10px;
	background: url('data:image/gif;base64,R0lGODlhCQAKALMOALGxsUJCQu/v76CgoM7OzlJSUhAQECEhIW9vb729vZCQkICAgN7e3mNjY////wAAACH5BAEAAA4ALAAAAAAJAAoAAAQmMJx01miYGYdaEovjNIhjKA7qMAdTeIw4FoQRykSpAHLv/8CgLwIAOw==')
		no-repeat center right;
}

/* Header =================================================================== */

html, #header, #footer {
	background:	@bgColor;
}

#header {
	box-shadow: 0 40px 40px -40px #777;
	margin-bottom: 1em;
	a {
		color: #FFF;
		.transition(all 0.5s ease);
		&:hover { color: #FFF; text-decoration: none; }
		&:link { color: #FFF; }
		&:visited { color: #FFF; }
	}
}

#title {
	font-size: 3.1em;
	font-weight: bolder;
	text-shadow: 0px 0px 8px #000;
	letter-spacing: 0.1em;
	display: inline;
	&:hover { text-shadow: 0px 0px 8px #FFF; }
	.cz { font-size: 20%; }
}

#subtitle { color: #000; font-size: 0.6em; line-height: 1; letter-spacing: 0.65em; }

#logonBox {
	float: right;
	margin-top: 8px;
	width: 650px;
	color: #FFF;
	font-size: 0.8em;
	text-align: right;
	a {
		&:hover { text-shadow: 0px 0px 3px #FFF; }
	}
}

#navigation {
	li { font-weight: bolder; }
	a {
		font-size: 1.2em;
		padding: 0.3em;
		margin: 0.1em;
		text-decoration: none;
		background-color: @themeColor;
		text-shadow: 2px 2px 2px @themeColorDarkerDarker;
		border: 1px solid @themeColorDarkerDarker;
		.border-radius-malsys;

		&:hover { border-color: #FFF; text-shadow: 0px 0px 3px #FFF; box-shadow: 0 0 8px 0 #FFF inset; }
	}
	#subnav {
		margin: 8px 0 0 0;
		padding: 0;
		a {
			font-size: 0.8em;
			padding: 0 0.5em 0.2em 0.4em;
		}
	}
}

input[type="submit"] { padding: 0.5em 1em; }

h1, .h1Like {
	color: #000;
	margin: 0.5em 0;
	padding: 0;
	border: none;
	text-align: center;
	a {
		text-decoration: none;
		color: #000 !important;
		&:hover, &:focus { text-decoration: none; }
	}
}

h2, h3 {
	color: #000;
	border-bottom: 1px solid #BBB;
	box-shadow: 0 6px 6px -6px #BBB;
	margin: 0.5em 0 0 0;
	padding: 0;
	text-shadow: 2px 2px 2px #DDD;
}

#footer {
	color: #000;
	font-size: 0.8em;
	box-shadow: 0 -40px 40px -40px #777;
	padding: 1.5em 0 4em 0;
	h5 { margin: 0 0 0.3em 0; }
	a {
		color: #000;
		.transition(all 0.5s ease);
		&:hover { text-shadow: 0px 0px 3px #FFF; }
		&:link { color: #000; }
		&:visited { color: #000; }
	}
	.note {
		font-size: 0.7em;
		color: @themeColorDarker;
		a {
			color: @themeColorDarker;
			&:hover { color: @themeColorDarkerDarker; }
			&:link { color: @themeColorDarker; }
			&:visited { color: @themeColorDarker; }
		}
	}
}

.malsysExample {
	.malsysBox();
	overflow: hidden;
	margin-bottom: 20px;
	h4 {
		padding: 4px 16px;
		margin: -9px -18px 10px -19px;
		background-color: #DDD;
		border-bottom: 1px solid #AAA;
		border-top: 1px solid #AAA;
		border-left: 1px solid #AAA;
	}
	.malsys {
		margin-bottom: 14px;
	}
}

/*@media screen and (max-width: 979px) {
	.malsysExample {
		h4 {
			margin-top: 8px;
		}
	}
}*/

/* ==================================================================================================================
 * Flipper
 * ================================================================================================================== */

.flipContainer {
	margin: 0 auto;
	.perspective(1000);

	.flipper {
		position: relative;
		.transition(~"0.6s");
		.transform-style(~"preserve-3d");
	}

	.front, .back {
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #DDD;
		.backface-visibility(hidden);
	}

	.front {
		z-index: 2;  // Front pane is placed above back.
	}

	.back {
		.transform(rotateY(-180deg));  // Back pane is initially hidden.
	}

	.flipLink {
		position: absolute;
		top: 0;
		right: 20px;
		padding: 4px 6px 4px 20px;
		z-index: 1;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAQAAADB7vUKAAABAUlEQVQY02XPP0vbYRTF8c8vKYhghC6SrYvvQSQoiGAFg1v2QicFB8X5CbmLbqVDdejgaCn4AgRBHDIoWAQRXARHQVH8g6KDj0Ns+UHPdu453Pu9lBSIodiKgb+O4l805VP6GV9s4MSm7+kBKhDrnvKCo458YB+rJt3Hn2hQRM2pWp5oH/aWJrFiNd3GrF/6tYpYM2c6bftPvXMVX3EZ78NOGfiqx3CdWU6I4Wi2EQK5piNTxLwfuDDjxbGusZSJEXv6cFHJ676h7tARGu5iEfu56ca90UqR05JJB55VZQyYiY+0d3I9DabzokTd8tur8dQt/1ItUX/wmD+3z8JuqfAG0aBXHQzFr54AAAAASUVORK5CYII=") 0 50% no-repeat transparent;
		opacity: 0.4;
		cursor: pointer;
		.transition(all 0.4s);
		&:hover { opacity: 1.0; background-color: #FFF; }
	}

	.flipped {
		.transform(rotateY(180deg));
	}
}


/* General styles =========================================================== */

.fullScreen { margin: 0; padding: 0; overflow: hidden; }
.center { text-align: center; }
.centerMargin { margin: 0 auto; width: 100px; }
.block { display: block; }
.w100 { width: 100%; }
.w60 { width: 60%; }
.w30 { width: 30%; }
.noMargin { margin: 0; }
.left { float: left; }
.right { float: right; text-align: left; }
.bg { background-color: @bodyBgColor; }
.note { font-size: 80%; color: @textNoteColor; }
.box {
	.malsysBox();
	margin: 0.5em 0;
}
a.noUnderline:hover { text-decoration: none; }

.leftHalf {
	float: left;
	display: block;
	width: 49%;
}

.rightHalf {
	float: right;
	display: block;
	width: 49%;
}

.floatRight { float: right; }

p { text-align: justify; }
.indent { margin: 0 0 0 2em; }

.keepNl { white-space: pre-line; }


/* ==================================================================================================================
 * Articles
 * ================================================================================================================== */

.partsNavigation {
	a { display: block; padding: 0.5em; .transition(background-color 0.3s ease); }
	a:hover { background-color: #EEE; }
}

.toc {
	ul { list-style: none; }
	ul.topLevel { padding-left: 0; margin: 0; }
	ul.topLevel > li > a { font-size: 1.2em; }
	li { .transition(background-color 0.3s ease); }
	li:hover { background-color: #EEE; }
	a { display: block; padding: 2px 0.5em; }
	a:hover { background-color: #DDD; }
	li.current { background-color: #EEF; }
	li.current:hover { background-color: #DDF; }
}

/* Collapsation ============================================================= */

.collapseSwitch {
	cursor: pointer;
	span.c { display: block; }
	span.u { display: none; }
	&.collapsed {
		span.c { display: none; }
		span.u { display: block; }
	}
	&:hover { text-decoration: underline; }  /* simulate link */
}



/* Discussion =============================================================== */

.discusThread {
	.msgCount { font-size: 80%; }
	.author { font-size: 80%; }
	.lastMessage { font-size: 80%; margin: 0; padding: 0; }
}

.discusMsg {
	.message { width: 70%; }
	.author {
		display: block;
		padding: 0 0.5em;
		float: right;
		width: 25%;
		border-left: 1px solid #CCC;
		p { text-align: center; }
		.date { font-size: 80%; }
	}
}

/* Figures ================================================================== */

.figure {
	margin: 1em 0;
	text-align: center;
	h5 { text-align: center; margin: 0; padding: 4px 0 0 0; }
	h6 { text-align: center; margin: 0; padding: 4px 0 0 0; }
	.img img {
		border: 1px solid #BBB;
		max-width: 100%;  // Scale to fit the width or parent ...
		height: auto;  // ... and resize height while keeping aspect ratio
		margin: 0 auto 8px auto;
	}
	.subfigure {
		display: inline-block;
		margin: 0 4px;
	}
}

/* Processing =============================================================== */

.monospace { font-family: @monospaceFont; }

#ajaxLoader {
	display: none;
	text-align: center;
}

.msg {
	padding: 2px 4px 2px 25px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 4px;
	ul { margin: 0; }
	p { margin: 0; }
}

.info {
	background-color: lighten(#3670FF, 30%);
	border: 1px solid #3670FF;
	background-image: url('/Img/Icons/information.png');
}

.ok {
	background-color: lighten(#34B52B, 40%);
	border: 1px solid #34B52B;
	background-image: url('/Img/Icons/tick.png');
}

.warning {
	background-color: lighten(#FF9800, 40%);
	border: 1px solid #FF9800;
	background-image: url('/Img/Icons/exclamation.png');
}

.error {
	background-color: lighten(#FF0000, 40%);
	border: 1px solid #FF0000;
	background-image: url('/Img/Icons/cross.png');
}

.inlineDoc {
	font-size: 90%;
	p { text-align: left; }
	ul {
		margin: 0; padding: 0;
		li { display: inline; margin: 0; padding: 0; }
	}
	p { margin: 0; padding: 0; }
	.popup {
		margin: 0; padding: 8px;
		background-color: white;
		border: 1px solid #555;
		box-shadow: 0px 0px 5px 0 #000;
		hr { margin: 3px;}
	}
}

/* ==================================================================================================================
 * Source code and code listings
 * ================================================================================================================== */

@srcColor: #000;
@srcKeywordColor: #7F0055;
@srcStringColor: #800000;
@srcCommentColor: #007700;
@srcUnimportantColor: #999;

.code {
	margin: 1em 0;
	.caption {
		text-align: center;
		h5 { padding: 0; margin: 0.2em; }
	}
	.alt { background-color: #EEE; }
	.lineNumbers{
		width: 2em;
		div {
			font-size: 80%;
			font-family: @monospaceFont;
			text-align: right;
			padding: 0 0.5em;
			border-right: 3px solid #BBB;
		}
	}
	.codeBody div {
		font-size: 80%;
		font-family: @monospaceFont;
		white-space: pre;
		padding: 0 0.5em;
	}
	.scroll {
		overflow: auto;
		background-color: #F6F6F6;
		box-shadow: 0 0 4px 1px #BBB;
		table { width: 100%; }
	}
	.kw { color: #00F; }
	.kwAlt { color: #6F008A; }
	.func { color: #800; }
	.cm { color: #080; }
	.tp { color: #2B91AF; }
	.str { color: #A31515; }
}

code {
	font-family: @monospaceFont;
	background-color: #EEE;
	padding: 0 0.2em;
}

pre.code {
	font-family: @monospaceFont;
	display: block;
	padding: 0 0.5em;
	box-shadow: 0 0 4px 1px #BBB;
	background-color: #EEE;
}

.malsysSource textarea { width: 98%; }

.outputTruncated { font-size: 0.8em; color: #888888; }


/* Gallery ================================================================== */

.gallery {
	text-align: center;
	ul {
		margin: 2px;
		padding: 2px;
		display: block;
	}
	li {
		vertical-align: top;
		display: -moz-inline-box;
		display: inline-block;
	}
	img {
		display: block;
	}
	.thnWrap {
		margin: 4px 2px;
		padding: 4px;
		border: 1px solid transparent;
		.border-radius-malsys;
		.transition(~"box-shadow 0.5s ease, border 0.5s ease");
		.author { float:right; }
		a.tag { float:left; }
		.misc {
			opacity: 0;
			.transition(opacity 0.5s ease);
		}
		h4 { margin: 2px; }
	}
	.thnWrap:hover {
		border: 1px solid #AAA;
		box-shadow: 2px 2px 5px 0 #AAA;
		.misc { opacity: 1; }
	}
}

.threeJsScene {
	position: relative;

	.loading {
		text-align: center;
		font-size: 1.5em;
		color: #AAA;
	}
	.threed {
		position: absolute;
		bottom: 2px;
		right: 2px;
		z-index: 10;
		width: 16px;
		height: 12px;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAQAAADB7vUKAAABAUlEQVQY02XPP0vbYRTF8c8vKYhghC6SrYvvQSQoiGAFg1v2QicFB8X5CbmLbqVDdejgaCn4AgRBHDIoWAQRXARHQVH8g6KDj0Ns+UHPdu453Pu9lBSIodiKgb+O4l805VP6GV9s4MSm7+kBKhDrnvKCo458YB+rJt3Hn2hQRM2pWp5oH/aWJrFiNd3GrF/6tYpYM2c6bftPvXMVX3EZ78NOGfiqx3CdWU6I4Wi2EQK5piNTxLwfuDDjxbGusZSJEXv6cFHJ676h7tARGu5iEfu56ca90UqR05JJB55VZQyYiY+0d3I9DabzokTd8tur8dQt/1ItUX/wmD+3z8JuqfAG0aBXHQzFr54AAAAASUVORK5CYII=") 0 50% no-repeat transparent;
	}
	.fullscreen { position: absolute; top: 4px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.webgl { position: absolute; top: 4px; left: 100px; margin: 0; font-size: 0.8em; color: #888; }
	.controls { position: absolute; bottom: 4px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.cameraPosition { position: absolute; bottom: 64px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.cameraUp { position: absolute; bottom: 44px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
	.cameraTarget { position: absolute; bottom: 24px; left: 4px; margin: 0; font-size: 0.8em; color: #888; }
}


a.tag {
	font-size: 90%;
	line-height: 1.3;
	padding: 3px 4px;
	margin: 2px 2px 2px 0;
	display: inline-block;
	background-color: @bgColorLight;
	border: 1px solid lighten(@bgColorLight, 8%);
	border-bottom-color: darken(@bgColorLight, 8%);
	border-right-color: darken(@bgColorLight, 8%);

	&:hover {
		background-color: darken(@bgColorLight, 10%);
	}
}

.huge { font-size: 2em; margin: 0; }

.votes .vote { margin: 0.2em; }

.lsystemOutput {
	position: relative;
	margin: auto;
	overflow: hidden;
}

.asciiArt {
	font-size: 0.5em;
	line-height: 1em;
	word-wrap: normal;
	text-decoration: none !important;
}

.asciiArt:hover {
	text-decoration: none !important;
}

.fullScreenToggle {
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
	height: 16px;
	z-index: 10;
	background-image: url('/Img/Icons/application-resize-full.png');
	background-repeat: no-repeat;
	opacity: 0.0;
	cursor: pointer;
	.transition(opacity 0.5s ease);
}

.lsystemOutput:hover .fullScreenToggle {
	opacity: 0.5;
}

.fullScreenToggle:hover {
	opacity: 1.0 !important;
}

.fullScreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: auto !important;
	height: auto !important;
	background-color: white;
	img { width: auto !important; height: auto !important; }
}

/* Components ============================================================== */
.component {
	.type { font-size: 90%; color: @srcKeywordColor; }
	h4 { line-heigth: 1em; margin: 0 0 0 0.2em; font-size: 130%; }
	dl dt { padding-top: 0.5em; }
	ul p { margin: 0; }
	li.spaced { margin-top: 0.5em; }
	.flag { color: @srcStringColor; }
}

/* Editor and display helpers =============================================== */

.display-label, .editor-label { margin: 1em 0 0 0; }
.display-field, .editor-field { margin: 0.5em 0 0 0; }

.text-box { width: 30em; }
.text-box.multi-line { height: 6.5em; }

.tri-state { width: 6em; }



/* Validation helpers ======================================================= */

.field-validation-error { color: #ff0000; display: block; }
.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }

.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid { display: none; }



/* Pagination =============================================================== */

.pagination {
	margin: 0 auto;
	display: block;
	font-size: 1.2em;
	a { margin: 2px; padding: 2px; }
	.paginationLeft { float: left; }
	.paginationRight { float: right; }
}

/* Designers ================================================================ */
.curveDesigneContainer {
	position: relative;
	float: left;
	.curveDesigner {
		 position: absolute; top: 0; left: 0;
	}
}

.curveDesigneMirrors {
	float: left;
	a {
		display: block;
		width: 70px;
		text-align: center;
		.border-radius-malsys(4px);
		box-shadow: 0 0 4px 0 #BBB;
		margin: 8px;
		&:hover { color: @linkHoverColor; text-decoration: none; color: #000; background: #EEE; box-shadow: 0 0 6px 0 #777; }
		&.mirror { height: 170px; }
	}
}


/* Media queries ============================================================ */

@media (min-width: 1880px) {
	#mainContainer.twoColumns {
		.wrapper { width: 1840px; }
		.floating_box { display: inline; float: left; text-align: left; width: 890px; padding-right: 8px; }
		.floating_container { text-align: center; }
	}
}


/* Non-semantic helper classes ============================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screen-readers and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screen readers: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screen readers, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ====== */

@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
