@model LsystemExampleViewModel

@{
	//HtmlString unimportantLinesAttr;
	//if (Model.UnimportantLines.Length > 0) {

	string input = Model.SourceCodeWithArgsAutoIndented();
	var output = Model.LsystemProcessor.Process(input).ToList();
	var codeMgr = new CodeListingsManager();
}

<div class="grid-100 mobile-grid-100 grid-parent malsysExample">
	<div class="grid-50 mobile-grid-100">
		<h4>Input</h4>
		@codeMgr.CodeNoFigure(ProgLang.Malsys, input)
	</div>
	<div class="grid-50 mobile-grid-100">
		<h4>Output</h4>
	@if (output.Count == 1) {
		@output[0]
	}
	else {
		<ol>
		@foreach (var str in output) {
			<li>@str</li>
		}
		</ol>
	}
	</div>
</div>