@model IEnumerable<Malsys.Web.Entities.Role>

@{
	ViewBag.Title = "User roles";
}

<h2>User roles</h2>
<p>
	@Html.ActionLink("Create new role", "Create")
</p>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>actions</th>
	</tr>
	@foreach (var role in Model) {
		<tr>
			<td>@Html.DisplayFor(m => role.RoleId)</td>
			<td>@Html.DisplayFor(m => role.Name)</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = role.RoleId })
			</td>
		</tr>
	}
</table>
