@model DiscusThread

@{
	ViewBag.Title = "Delete thread";
}

<h2>Delete thread</h2>

<p>
	Do you really want to delete following thread?
</p>

<p>
	@Model.Title
</p>

@using (Html.BeginForm()) {
	<p>
		@Html.SubmitButton("Yes", "Yes, delete it!")

		@Html.SubmitButton("No", "No, cancel deletion!")
	</p>
}