@model IEnumerable<DiscusCategory>

@{
	ViewBag.Title = "Discussion categories";
}

<h2>Discussion categories</h2>

<ul>
	@foreach (var cat in Model) {
		<li>@Html.ActionLink(cat.Name, MVC.Discussion.Category(cat.CategoryId))</li>
	}
</ul>
