@model DiscusThreadViewModel

@{
	ViewBag.Title = Model.Thread.Title;
	bool first = true;
	var backLink = Html.ActionLink("Back to threads list", MVC.Discussion.Category(Model.Thread.CategoryId));
}

@section submenu {
	<li>@backLink</li>
}


<h2>@Model.Thread.Title</h2>

@if (Model.Thread.IsLocked) {
	<p>This thread is locked (it is not possible to add new messages).</p>
}
else {
	@Html.Partial(MVC.Discussion.Views.AddMessagePartial, Model.Thread)
}

@foreach (var msg in Model.Messages) {
	if (first) {
		first = false;
	}
	else {
		<hr />
	}

	@Html.Partial(MVC.Discussion.Views.MessagePartial, msg)
}

@backLink