@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@{
	ViewBag.Title = "Component configuration definition";
}

<h2>Component configuration definition</h2>

<p>
	<i>To be done in the near future.</i>
</p>