@model Malsys.Web.Models.SimpleLsystemProcessor

@{
	ViewBag.Title = "Constant definition";
	var exampleModel = new LsystemExampleViewModel() {
		LsystemProcessor = Model,
		SourceCodeTemplate = string.Join(Environment.NewLine,
			"// constant example {0:00}",
			"{1}"),
		UnimportantLines = new int[] { 1 }

	};
	int exampleId = 1;
}

<h2>Constant definition</h2>

<h3>Formal grammar</h3>

<pre class="grammar box">
constant_def = 'let' ID '=' expression ';'
</pre>

<p>
	Defines constant with name represented by token <code>ID</code> as value of <code>expression</code>.
	If constant with same name already exists, it is redefined by new definition.
</p>

@* ================================================================================================================== *@
<h3>Examples</h3>

@Html.Partial(MVC.Help.Shared.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"let a = 3;",
		"let b = (2 + 2) * 2 ^ 2;",
		"let c = sqrt(a * b);",
		"let a = 0;"
	)))







